<% content_for :title, "Editing section" %>

<style>
  .btn-round-gold {
    background-color: #ffce1b;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    text-decoration: none; /
    display: inline-block; /
  }

  .btn-round-gold:hover {
    background-color: black;
    color: #ffce1b;
    transform: scale(1.05);
    text-decoration: none; /
  }   
</style>

<%= render "form", section: @section %>

<br>

<div class="action-buttons">
  <%= link_to "Show this section", @section, class: "btn-round-gold" %>
  <%= link_to "Back to sections", sections_path, class: "btn-round-gold" %>
</div>


