<%= render "form", student_guardian: @student_guardian %>

<br>

<div class="action-buttons">
  <%= link_to "Show this student guardian", @student_guardian, class: "btn-round-gold" %>
  <%= link_to "Back to student guardians", student_guardians_path, class: "btn-round-gold" %>
</div>
